.Job {
  position: relative;
  overflow: visible;
  padding: 40px 0px;
  height: calc(100vh - 70px);
}

.Job-Title {
  text-align: center;
  margin-top: 70px;
  font-size: 30px;
  overflow: visible;
  z-index: 16;
}

.Job-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  margin-top: 60px;
}

.parallax-effect-glare-scale {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 10px;
  overflow: visible;
  -webkit-box-shadow: 0px 0px 11px -2px rgba(191, 71, 220, 1);
  -moz-box-shadow: 0px 0px 11px -2px rgba(191, 71, 220, 1);
  box-shadow: 0px 0px 11px -2px rgba(191, 71, 220, 1);
  z-index: 17;
  a {
    position: absolute;
    top: -30px;
    right: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: lightpink;
    transform: translateZ(50px);
  }
}

.Job-Item-Brow {
  background-image: url('../../img/brows/brow1.jpg');
}

.Job-Item-MakeUp {
  background-image: url('../../img/make/make1.jpg');
  margin: 0px 40px;
}

.Job-Item-Sertificate {
  background-image: url('../../img/sertificate/sert.jpg');
}

@media (max-width: 1200px) {
  .Job-Title {
    margin-bottom: 20px;
  }
  .Job-Wrapper {
    display: block;
  }
  .parallax-effect-glare-scale {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 1104px) {
  .Job {
    padding: 0;
  }
  .Job-Title {
    margin-top: 0px;
  }
  .Job-Wrapper {
    .parallax-effect-glare-scale {
      height: 200px;
      width: 200px;
      a {
        top: 30px;
        right: -120px;
      }
    }
  }
}

@media (max-width: 639px) {
  .Job-Title {
    font-size: 25px;
  }
  .Job-Wrapper {
    margin-top: 35px;
    .parallax-effect-glare-scale {
      height: 180px;
      width: 200px;
      margin-bottom: 40px;
      a {
        top: -20px;
        right: 0px;
        left: 0;
      }
    }
  }
}
