.Info {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.Left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Right {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.Left-Wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  overflow: visible;
  flex-direction: column;
  justify-content: space-between;
}

.Info-Intro {
  font-size: 30px;
  font-weight: 300;
  overflow: visible;
  opacity: 0;
  transform: translateY(-60px);
  animation: fade4 5s ease forwards;
}

@keyframes fade4 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Info-Name {
  font-size: 60px;
  overflow: visible;
  opacity: 0;
  transform: translate(-140px);
  animation: fade3 5s ease forwards;
}

@keyframes fade3 {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.Info-Title {
  height: 50px;
  overflow: hidden;
}

.Info-Title-Wrapper {
  animation: move 13s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
}

.Info-Desc {
  overflow: visible;
  opacity: 0;
  transform: translateY(140px);
  animation: fade2 4s ease forwards;
}

@keyframes fade2 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Info-Title-Item {
  overflow: hidden;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: lightpink;
  display: flex;
  align-items: center;
}

.Info-Img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transform: translateX(-80px);
  animation: fadeInUp 6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.Info-Bg {
  height: 100%;
  width: 100%;
  background-color: lightpink;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 48% 100%, 0 50%);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 48% 100%, 0 50%);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateY(120px);
  animation: fadeIn 5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1430px) {
  .Info-Img {
    bottom: -60px;
    overflow: visible;
  }
}

@media (max-width: 1245px) {
  .Left {
    overflow: visible;
  }
  .Info-Bg {
    overflow: visible;
  }
  .Info-Img {
    bottom: -80px;
  }
}

@media (max-width: 980px) {
  .Info-Img {
    right: -50px;
  }
}

@media (max-width: 895px) {
  .Info {
    flex-direction: column-reverse;
    .Right {
      .Info-Img {
        bottom: 0;
        width: 69%;
        height: 100%;
        overflow: visible;
      }
    }
    .Left {
      overflow: visible;
      align-items: start;
      .Left-Wrapper {
        padding: 0px 20px;
        overflow: visible;
        margin-top: 20px;
      }
      .Info-Intro {
        overflow: visible;
        font-size: 22px;
      }
      .Info-Name {
        font-size: 40px;
      }
      .Info-Title {
        min-height: 50px;
        margin-top: 20px;
      }
      .Info-Name {
        overflow: visible;
      }
      .Info-Desc {
        overflow: visible;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 501px) {
  .Info {
    .Left {
      .Info-Intro {
        font-size: 18px;
      }
      .Info-Name {
        font-size: 22px;
      }
      .Info-Desc {
        font-size: 17px;
      }
    }

    .Right {
      .Info-Img {
        bottom: -35px;
        width: 70%;
      }
    }
  }
}
