.Topbar {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
  top: 0;
  z-index: 990;
  .Wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 15px;
  }
  .Logo {
    font-size: 26px;
    text-decoration: underline lightpink;
    flex: 3;
    opacity: 0;
    transform: translateX(140px);
    animation: fadeInUp 5s ease forwards;
  }
  .List {
    display: flex;
    flex: 3;
    align-items: center;
    opacity: 0;
    transform: translateX(-130px);
    animation: fade 5s ease forwards;
    li {
      margin-left: 10px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
      }
    }
  }
}

.Toggle-Main {
  flex: 1;
}

@keyframes fade {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 492px) {
  .Wrapper {
    justify-content: space-between;
    .Logo {
      flex: auto;
    }
    .List {
      flex: auto;
      .ListItem {
        .ListItemLink {
          font-size: 14px;
        }
      }
      li:nth-child(1) {
        display: none;
      }
    }
    .Toggle-Main {
      flex: auto;
    }
  }
}

@media (max-width: 381px) {
  .Wrapper {
    .Logo {
      font-size: 20px;
    }
  }
}
