.Sert {
  position: relative;
  text-align: center;
  overflow: visible;
  height: calc(100vh - 70px);
}

.Sert-Bg {
  background-color: lightpink;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(17% 0%, 0 66%, 50% 100%, 0 13%);
  clip-path: polygon(17% 0%, 0 66%, 50% 100%, 0 13%);
}

.Sert-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding: 0px 20px;
}

.Sert-Left {
  width: 50%;
  display: flex;
  position: relative;
}

.Sert-Img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: visible;
}

.Sert-ImgOne {
  background-image: url('../../img/sertificate/sert.jpg');
}

.Sert-ImgTwo {
  background-image: url('../../img/sertificate/sert2.jpg');
  margin: 20px 15px 0px;
}

.Sert-ImgThree {
  background-image: url('../../img/sertificate/sert3.jpg');
  margin-top: 40px;
}

.Sert-Right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  ul {
    margin-top: 30px;
    margin-left: 20px;
    flex-direction: column;
    li {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1200px) {
  .Sert {
    overflow: visible;
  }

  .Sert-Bg {
    background-color: lightpink;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(17% 0%, 0 59%, 100% 26%, 0 13%);
    clip-path: polygon(17% 0%, 0 59%, 100% 26%, 0 13%);
  }

  .Sert-Title {
    margin-bottom: 25px;
  }
  .Sert-Wrapper {
    display: block;
  }
  .Sert-Left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .Sert-Img {
      position: static;
      margin-bottom: 15px;
      margin-top: 0;
    }
  }
  .Sert-Right {
    width: 100%;
    overflow: visible;
    padding-bottom: 30px;
    ul {
      li {
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .Sert {
    height: auto;
  }
}
