.Brows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: visible;
  position: relative;
  padding: 70px 5px 10px;
}

.Brows-Bg {
  -webkit-clip-path: polygon(100% 23%, 93% 32%, 0 27%, 0 0);
  clip-path: polygon(100% 23%, 93% 32%, 0 27%, 0 0);
  background-color: lightpink;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.Brows-Title {
  z-index: 23;
  overflow: visible;
}

.Card-Wrapper {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  overflow: visible;
}

.Brows-Card {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  overflow: visible;
  z-index: 21;
  margin: 0px 5px;
  cursor: pointer;
  &:hover {
    .Front {
      transform: perspective(500px) rotateY(180deg);
    }
    .Back {
      transform: perspective(500px) rotateY(360deg);
    }
  }
}

.Face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 1.5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  overflow: visible;
  transform: perspective(500px) rotateY(0deg);
  -webkit-box-shadow: 0px 0px 11px -2px rgba(191, 71, 220, 1);
  -moz-box-shadow: 0px 0px 11px -2px rgba(191, 71, 220, 1);
  box-shadow: 0px 0px 11px -2px rgba(191, 71, 220, 1);
  h3 {
    color: lightpink;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(100px);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.Back {
  transform: perspective(500px) rotateY(180deg);
}

.Brows-CardOne {
  .Front {
    background-image: url('../../img/brows/brow2.jpg');
  }
  .Back {
    background-image: url('../../img/brows/brow3.jpg');
  }
}

.Brows-CardTwo {
  .Front {
    background-image: url('../../img/brows/brow4.jpg');
  }
  .Back {
    background-image: url('../../img/brows/brow5.jpg');
  }
}

.Brows-CardThree {
  .Front {
    background-image: url('../../img/brows/brow6.jpg');
  }
  .Back {
    background-image: url('../../img/brows/brow7.jpg');
  }
}

.Brows-CardFour {
  .Front {
    background-image: url('../../img/brows/brow8.jpg');
  }
  .Back {
    background-image: url('../../img/brows/brow1.jpg');
  }
}

.Brows-Text {
  margin-top: 40px;
  padding: 30px;
  li {
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
  }
}

@media (max-width: 1200px) {
  .Card-Wrapper {
    flex-wrap: wrap;
    .Brows-Card {
      h3 {
        right: 0;
      }
    }
  }
}

@media (max-width: 847px) {
  .Brows {
    .Card-Wrapper {
      margin-top: 20px;
    }
    .Brows-Card {
      margin-bottom: 60px;
    }
    .Brows-Text {
      margin-top: 0;
    }
  }
}
