.Contact {
  height: 100vh;
}

.Contact-Bg {
  width: 20px;
  height: 100%;
  background-color: lightpink;
  position: absolute;
}

.Contact-Wrapper {
  padding: 50px;
  display: flex;
}

.Contact-Left {
  flex: 1;
}

/* .Contact-Img {
  font-size: 16px;
} */

.Contact-Right {
  flex: 1;
}
