.MakeUp {
  position: relative;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.MakeUp-Bg {
  clip-path: polygon(0 0, 100% 23%, 69% 100%, 6% 49%);
  background-color: lightpink;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.Card-Wrapper {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  overflow: visible;
}

.MakeUp-Card {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  overflow: visible;
  &:hover {
    .Front {
      transform: perspective(500px) rotateY(180deg);
    }
    .Back {
      transform: perspective(500px) rotateY(360deg);
    }
  }
}

.Face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 1.5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  overflow: visible;
  transform: perspective(500px) rotateY(0deg);
  -webkit-box-shadow: 0px 0px 11px -2px rgba(191, 71, 220, 1);
  -moz-box-shadow: 0px 0px 11px -2px rgba(191, 71, 220, 1);
  box-shadow: 0px 0px 11px -2px rgba(191, 71, 220, 1);
  h3 {
    color: gray;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(100px);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.Back {
  transform: perspective(500px) rotateY(180deg);
}

.MakeUp-CardOne {
  .Front {
    background-image: url('../../img/make/make1.jpg');
  }
  .Back {
    background-image: url('../../img/make/make2.jpg');
  }
}

.MakeUp-CardTwo {
  .Front {
    background-image: url('../../img/make/make3.jpg');
  }
  .Back {
    background-image: url('../../img/make/make4.jpg');
  }
}

.MakeUp-CardThree {
  .Front {
    background-image: url('../../img/make/make5.jpg');
  }
  .Back {
    background-image: url('../../img/make/make6.jpg');
  }
}

.MakeUp-CardFour {
  .Front {
    background-image: url('../../img/make/make7.jpg');
  }
  .Back {
    background-image: url('../../img/make/make1.jpg');
  }
}

.MakeUp-Text {
  margin-top: 40px;
  padding: 30px;
  li {
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
  }
}
